* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
}

#header {
  display: flex;
  padding: 15px 30px;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: beige;
}

#header > div {
  border-right: 1px solid #000;
  padding: 10px;
  display: flex;
  gap: 5px;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main > p {
  font-size: 25px;
  padding: 10px;
}

#add-book {
  width: 200px;
  height: 40px;
  border-radius: 15px;
}

#container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.card > .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.top-section + div + p,
.top-section + div + p + p,
.top-section + div + p + p + div {
  padding: 5px 0;
}

.top-section + div + p + p + div {
  display: flex;
}

.book-cover {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: beige;
}

#dialog {
  padding: 20px;
  position: relative;
  width: 30%;
  position: fixed; /* Override default static positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#dialog::backdrop {
  backdrop-filter: blur(1px);
}

.close-dialog {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

form > div {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
